span.tag {
  margin-right: .5em;
}
span.tag a {
  margin-left: .25em;
}

div.bookmark {
  margin: 0;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  background: #eee;
  border-bottom: 1px dashed #aaa;
}
